.container-box {
    display: flex;
    flex-direction: column;
    max-width: 933px;
    height: 312px;
    margin: 0 auto;
    padding: 15px;
}

.container-box .logo {
    width: 200px;
    margin-bottom: 30px;
}

.container-box .logo img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.container-box form {
    background: #fff;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0px 3px 10px #ccc;
}

.container-box form input,
.container-box form select option {
    color: #222;
}

.container-box form input[type="checkbox"] {
    display: none;
}

.container-box form label {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 25px;
}

.container-box form label span {
    width: 14px;
    height: 14px;
    background: transparent;
    border-radius: 50%;
    border: 1px solid #222;
    margin-right: 5px;
}

.container-box form label[data-state="true"] span {
    background: #ec0928;
}
