.container-box {
    display: flex;
    flex-direction: column;
    max-width: 933px;
    height: 312px;
    margin: 0 auto;
    padding: 15px;
}

.container-box .logo {
    width: 200px;
    margin-bottom: 30px;
}

.container-box .logo img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.container-box form {
    background: #fff;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0px 3px 10px #ccc;
}
